{
  "openapi": "3.0.3",
  "info": {
    "title": "Transparency Hub Public API",
    "version": "1.0.0",
    "description": "Key-authenticated REST API for association and chapter integrations."
  },
  "servers": [
    {
      "url": "https://api.transparencyhubnetwork.ai/api"
    },
    {
      "url": "https://testapp.transparencyhubnetwork.ai/api",
      "description": "Test"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "BearerAuth": []
    }
  ],
  "x-scopes": {
    "members:read": "Read members",
    "members:write": "Create and update members",
    "membership_types:read": "Read membership types",
    "membership_types:write": "Update membership types",
    "events:read": "Read events",
    "events:write": "Create and update events"
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "chapterId": {
        "name": "chapter_id",
        "in": "query",
        "schema": {
          "type": "integer"
        },
        "description": "Required for association-wide keys; must match the key's chapter for chapter-bound keys."
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 50
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "status",
          "code",
          "message"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "profilepic": {
            "type": "string",
            "nullable": true
          },
          "chapter_id": {
            "type": "integer"
          },
          "role_id": {
            "type": "integer",
            "nullable": true
          },
          "membership_type_id": {
            "type": "integer",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "is_new_user": {
            "type": "boolean"
          },
          "createddate": {
            "type": "string",
            "format": "date-time"
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "MemberCreate": {
        "type": "object",
        "required": [
          "firstname",
          "lastname",
          "email"
        ],
        "properties": {
          "chapter_id": {
            "type": "integer"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "MemberUpdate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "profilepic": {
            "type": "string"
          }
        }
      },
      "MembershipType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "chapter_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "renewal_timeline": {
            "type": "integer"
          },
          "deactivation_timeline": {
            "type": "integer"
          },
          "deactivation_policy": {
            "type": "string",
            "nullable": true
          },
          "deactivation_threshold_amount": {
            "type": "number",
            "nullable": true
          },
          "startdate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "enddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "is_end_date_fixed": {
            "type": "boolean"
          },
          "autorecurring_payment": {
            "type": "boolean"
          },
          "membership_privacy": {
            "type": "boolean"
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "MembershipTypeUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "renewal_timeline": {
            "type": "integer"
          },
          "deactivation_timeline": {
            "type": "integer"
          },
          "deactivation_policy": {
            "type": "string"
          },
          "deactivation_threshold_amount": {
            "type": "number"
          },
          "startdate": {
            "type": "string",
            "format": "date-time"
          },
          "enddate": {
            "type": "string",
            "format": "date-time"
          },
          "is_end_date_fixed": {
            "type": "boolean"
          },
          "autorecurring_payment": {
            "type": "boolean"
          },
          "membership_privacy": {
            "type": "boolean"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "chapter_id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "venue": {
            "type": "string",
            "nullable": true
          },
          "meeting_link": {
            "type": "string",
            "nullable": true
          },
          "document_link": {
            "type": "string",
            "nullable": true
          },
          "event_image": {
            "type": "string",
            "nullable": true
          },
          "start_date_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_date_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "recurrence_end_date_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "timezone": {
            "type": "string",
            "nullable": true
          },
          "all_participant": {
            "type": "boolean"
          },
          "record_meeting": {
            "type": "boolean"
          },
          "waiting_room_enabled": {
            "type": "boolean"
          },
          "meeting_provider_type": {
            "type": "string",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "EventCreate": {
        "type": "object",
        "required": [
          "title",
          "start_date_time",
          "end_date_time"
        ],
        "properties": {
          "chapter_id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "start_date_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_date_time": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          },
          "venue": {
            "type": "string"
          },
          "meeting_link": {
            "type": "string"
          },
          "document_link": {
            "type": "string"
          },
          "event_image": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "all_participant": {
            "type": "boolean",
            "default": true
          },
          "record_meeting": {
            "type": "boolean",
            "default": false
          },
          "waiting_room_enabled": {
            "type": "boolean",
            "default": true
          },
          "meeting_provider_type": {
            "type": "string"
          },
          "recurrence_end_date_time": {
            "type": "string",
            "format": "date-time"
          },
          "should_notify": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "EventUpdate": {
        "type": "object",
        "properties": {
          "chapter_id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "start_date_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_date_time": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          },
          "venue": {
            "type": "string"
          },
          "meeting_link": {
            "type": "string"
          },
          "document_link": {
            "type": "string"
          },
          "event_image": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "all_participant": {
            "type": "boolean",
            "default": true
          },
          "record_meeting": {
            "type": "boolean",
            "default": false
          },
          "waiting_room_enabled": {
            "type": "boolean",
            "default": true
          },
          "meeting_provider_type": {
            "type": "string"
          },
          "recurrence_end_date_time": {
            "type": "string",
            "format": "date-time"
          },
          "should_notify": {
            "type": "boolean",
            "default": true
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "insufficient_scope or chapter_forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "not_found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "rate_limited; see Retry-After",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ValidationError": {
        "description": "validation_error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/members": {
      "get": {
        "summary": "List members",
        "x-scope": "members:read",
        "description": "Requires scope `members:read`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Member"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/chapterId"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Matches first name, last name or email."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            }
          }
        ]
      },
      "post": {
        "summary": "Create member",
        "x-scope": "members:write",
        "description": "Requires scope `members:write`.",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Member"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberCreate"
              }
            }
          }
        }
      }
    },
    "/v1/members/{member_id}": {
      "get": {
        "summary": "Get member",
        "x-scope": "members:read",
        "description": "Requires scope `members:read`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Member"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "member_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/chapterId"
          }
        ]
      },
      "patch": {
        "summary": "Update member",
        "x-scope": "members:write",
        "description": "Requires scope `members:write`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Member"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "member_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/chapterId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberUpdate"
              }
            }
          }
        }
      }
    },
    "/v1/membership-types": {
      "get": {
        "summary": "List membership types",
        "x-scope": "membership_types:read",
        "description": "Requires scope `membership_types:read`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MembershipType"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/chapterId"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ]
      }
    },
    "/v1/membership-types/{type_id}": {
      "get": {
        "summary": "Get membership type",
        "x-scope": "membership_types:read",
        "description": "Requires scope `membership_types:read`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipType"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "type_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/chapterId"
          }
        ]
      },
      "patch": {
        "summary": "Update membership type",
        "x-scope": "membership_types:write",
        "description": "Requires scope `membership_types:write`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipType"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "type_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/chapterId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipTypeUpdate"
              }
            }
          }
        }
      }
    },
    "/v1/events": {
      "get": {
        "summary": "List events",
        "x-scope": "events:read",
        "description": "Requires scope `events:read`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/chapterId"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Only events starting at or after this instant."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Only events starting at or before this instant."
          }
        ]
      },
      "post": {
        "summary": "Create event",
        "x-scope": "events:write",
        "description": "Requires scope `events:write`.",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventCreate"
              }
            }
          }
        }
      }
    },
    "/v1/events/{event_id}": {
      "get": {
        "summary": "Get event",
        "x-scope": "events:read",
        "description": "Requires scope `events:read`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/chapterId"
          }
        ]
      },
      "patch": {
        "summary": "Update event",
        "x-scope": "events:write",
        "description": "Requires scope `events:write`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/chapterId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventUpdate"
              }
            }
          }
        }
      }
    }
  }
}