{
  "openapi": "3.0.3",
  "info": {
    "title": "Transparency Hub Public API",
    "version": "1.3.0",
    "description": "Key-authenticated REST API for association and chapter integrations."
  },
  "servers": [
    {
      "url": "https://api.transparencyhubnetwork.ai/api"
    },
    {
      "url": "https://testapi.transparencyhubnetwork.ai/api",
      "description": "Test"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "BearerAuth": []
    }
  ],
  "x-scopes": {
    "members:read": "Read members",
    "members:write": "Create and update members",
    "membership_types:read": "Read membership types",
    "membership_types:write": "Update membership types",
    "events:read": "Read events",
    "events:write": "Create and update events",
    "payments:read": "Read payments and dues",
    "community:read": "Read posts, comments and groups",
    "meetings:read": "Read meetings, recordings and minutes",
    "chapters:read": "Read chapter and association details",
    "roles:read": "Read roles",
    "tasks:read": "Read tasks",
    "tasks:write": "Create tasks",
    "projects:read": "Read projects and project tasks",
    "projects:write": "Create project tasks",
    "fundraising:read": "Read fundraising campaigns and payments",
    "gatherings:read": "Read gatherings, tickets, attendees and orders",
    "elections:read": "Read elections, questions and published results",
    "drive:read": "Read Drive file and folder metadata",
    "contacts:read": "Read contacts",
    "contacts:write": "Create contacts",
    "activity:read": "Read the activity log",
    "applications:read": "Read membership applications and form templates",
    "notifications:read": "Read member notifications",
    "support:read": "Read support requests",
    "campaigns:read": "Read communication campaigns and delivery stats"
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "chapterId": {
        "name": "chapter_id",
        "in": "query",
        "schema": {
          "type": "integer"
        },
        "description": "Required for association-wide keys; must match the key's chapter for chapter-bound keys."
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 200,
          "default": 50
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "status",
          "code",
          "message"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          }
        }
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "nullable": true
          },
          "profilepic": {
            "type": "string",
            "nullable": true
          },
          "chapter_id": {
            "type": "integer"
          },
          "role_id": {
            "type": "integer",
            "nullable": true
          },
          "membership_type_id": {
            "type": "integer",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive"
            ]
          },
          "is_new_user": {
            "type": "boolean"
          },
          "createddate": {
            "type": "string",
            "format": "date-time"
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "MemberCreate": {
        "type": "object",
        "required": [
          "firstname",
          "lastname",
          "email"
        ],
        "properties": {
          "chapter_id": {
            "type": "integer"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "MemberUpdate": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "firstname": {
            "type": "string"
          },
          "lastname": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "profilepic": {
            "type": "string"
          }
        }
      },
      "MembershipType": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "chapter_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "renewal_timeline": {
            "type": "integer"
          },
          "deactivation_timeline": {
            "type": "integer"
          },
          "deactivation_policy": {
            "type": "string",
            "nullable": true
          },
          "deactivation_threshold_amount": {
            "type": "number",
            "nullable": true
          },
          "startdate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "enddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "is_end_date_fixed": {
            "type": "boolean"
          },
          "autorecurring_payment": {
            "type": "boolean"
          },
          "membership_privacy": {
            "type": "boolean"
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "MembershipTypeUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "duration": {
            "type": "integer"
          },
          "renewal_timeline": {
            "type": "integer"
          },
          "deactivation_timeline": {
            "type": "integer"
          },
          "deactivation_policy": {
            "type": "string"
          },
          "deactivation_threshold_amount": {
            "type": "number"
          },
          "startdate": {
            "type": "string",
            "format": "date-time"
          },
          "enddate": {
            "type": "string",
            "format": "date-time"
          },
          "is_end_date_fixed": {
            "type": "boolean"
          },
          "autorecurring_payment": {
            "type": "boolean"
          },
          "membership_privacy": {
            "type": "boolean"
          }
        }
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "chapter_id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "venue": {
            "type": "string",
            "nullable": true
          },
          "meeting_link": {
            "type": "string",
            "nullable": true
          },
          "document_link": {
            "type": "string",
            "nullable": true
          },
          "event_image": {
            "type": "string",
            "nullable": true
          },
          "start_date_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_date_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "recurrence_end_date_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "timezone": {
            "type": "string",
            "nullable": true
          },
          "all_participant": {
            "type": "boolean"
          },
          "record_meeting": {
            "type": "boolean"
          },
          "waiting_room_enabled": {
            "type": "boolean"
          },
          "meeting_provider_type": {
            "type": "string",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "EventCreate": {
        "type": "object",
        "required": [
          "title",
          "start_date_time",
          "end_date_time"
        ],
        "properties": {
          "chapter_id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "start_date_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_date_time": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          },
          "venue": {
            "type": "string"
          },
          "meeting_link": {
            "type": "string"
          },
          "document_link": {
            "type": "string"
          },
          "event_image": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "all_participant": {
            "type": "boolean",
            "default": true
          },
          "record_meeting": {
            "type": "boolean",
            "default": false
          },
          "waiting_room_enabled": {
            "type": "boolean",
            "default": true
          },
          "meeting_provider_type": {
            "type": "string"
          },
          "recurrence_end_date_time": {
            "type": "string",
            "format": "date-time"
          },
          "should_notify": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "EventUpdate": {
        "type": "object",
        "properties": {
          "chapter_id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "start_date_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_date_time": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          },
          "venue": {
            "type": "string"
          },
          "meeting_link": {
            "type": "string"
          },
          "document_link": {
            "type": "string"
          },
          "event_image": {
            "type": "string"
          },
          "timezone": {
            "type": "string"
          },
          "all_participant": {
            "type": "boolean",
            "default": true
          },
          "record_meeting": {
            "type": "boolean",
            "default": false
          },
          "waiting_room_enabled": {
            "type": "boolean",
            "default": true
          },
          "meeting_provider_type": {
            "type": "string"
          },
          "recurrence_end_date_time": {
            "type": "string",
            "format": "date-time"
          },
          "should_notify": {
            "type": "boolean",
            "default": true
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "member_id": {
            "type": "integer",
            "nullable": true
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "payment_status": {
            "type": "string"
          },
          "payment_type": {
            "type": "string",
            "nullable": true
          },
          "payment_method": {
            "type": "string",
            "nullable": true
          },
          "transactionref": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "payment_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "receipt_url": {
            "type": "string",
            "nullable": true
          },
          "verification_status": {
            "type": "string",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "MemberDue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "member_id": {
            "type": "integer"
          },
          "membership_dues_id": {
            "type": "integer",
            "nullable": true
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "due_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "transaction_ref": {
            "type": "string",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "MembershipTypeDue": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "membership_type_id": {
            "type": "integer"
          },
          "dues_name": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "due_frequency": {
            "type": "string"
          },
          "payment_schedule": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "is_for_onboarding": {
            "type": "boolean"
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "member_id": {
            "type": "integer"
          },
          "content": {
            "type": "string"
          },
          "image_url": {
            "nullable": true
          },
          "video_url": {
            "nullable": true
          },
          "is_edited": {
            "type": "boolean"
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "post_id": {
            "type": "integer"
          },
          "parent_comment_id": {
            "type": "integer",
            "nullable": true
          },
          "member_id": {
            "type": "integer"
          },
          "content": {
            "type": "string"
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Group": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "is_private": {
            "type": "boolean"
          },
          "member_count": {
            "type": "integer"
          },
          "image_url": {
            "type": "string",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "GroupMember": {
        "type": "object",
        "properties": {
          "member_id": {
            "type": "integer"
          },
          "role": {
            "type": "string"
          },
          "joined_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Meeting": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "event_id": {
            "type": "integer",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "meeting_start": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "valid_from": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "valid_until": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "provisioning_status": {
            "type": "string"
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Recording": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "event_id": {
            "type": "integer"
          },
          "recording_type": {
            "type": "string",
            "nullable": true
          },
          "format": {
            "type": "string",
            "nullable": true
          },
          "duration_seconds": {
            "type": "integer",
            "nullable": true
          },
          "file_size": {
            "type": "integer",
            "nullable": true
          },
          "processing_status": {
            "type": "string",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Minute": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "event_id": {
            "type": "integer",
            "nullable": true
          },
          "title": {
            "type": "string"
          },
          "motion": {
            "type": "string"
          },
          "minute_text": {
            "type": "string",
            "nullable": true
          },
          "adopted_by": {
            "type": "integer",
            "nullable": true
          },
          "seconded_by": {
            "type": "integer",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "MembershipTypeCreate": {
        "type": "object",
        "required": [
          "name",
          "category",
          "duration"
        ],
        "properties": {
          "chapter_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "category": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "duration": {
            "type": "integer",
            "description": "Length of a membership period in months"
          },
          "renewal_timeline": {
            "type": "integer",
            "default": 30
          },
          "deactivation_timeline": {
            "type": "integer",
            "default": 60
          },
          "startdate": {
            "type": "string",
            "format": "date-time"
          },
          "enddate": {
            "type": "string",
            "format": "date-time"
          },
          "is_end_date_fixed": {
            "type": "boolean",
            "default": false
          },
          "autorecurring_payment": {
            "type": "boolean",
            "default": false
          },
          "membership_privacy": {
            "type": "boolean",
            "default": false
          },
          "reminder_frequency": {
            "type": "string",
            "default": "monthly"
          }
        }
      },
      "Chapter": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "association_id": {
            "type": "integer",
            "nullable": true
          },
          "parent_id": {
            "type": "integer",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "slogan": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "coverimg": {
            "type": "string",
            "nullable": true
          },
          "timezone": {
            "type": "string",
            "nullable": true
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "private": {
            "type": "boolean",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Association": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "association_image": {
            "type": "string",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Role": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "rolename": {
            "type": "string",
            "nullable": true
          },
          "is_super_admin": {
            "type": "boolean",
            "nullable": true
          },
          "is_custom": {
            "type": "boolean",
            "nullable": true
          },
          "permissions": {
            "type": "object",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ActivityEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "entity_type": {
            "type": "string",
            "nullable": true
          },
          "entity_id": {
            "type": "integer",
            "nullable": true
          },
          "action": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "performed_by": {
            "type": "integer",
            "nullable": true
          },
          "member_id": {
            "type": "integer",
            "nullable": true
          },
          "performed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "progress": {
            "type": "integer",
            "nullable": true
          },
          "member_id": {
            "type": "integer",
            "nullable": true
          },
          "createdby": {
            "type": "integer",
            "nullable": true
          },
          "due_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "class_of": {
            "type": "string",
            "nullable": true
          },
          "group_name": {
            "type": "string",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ContactGroup": {
        "type": "object",
        "properties": {
          "group_name": {
            "type": "string",
            "nullable": true
          },
          "count": {
            "type": "integer"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "owner_member_id": {
            "type": "integer",
            "nullable": true
          },
          "swimlane_mode": {
            "type": "string",
            "nullable": true
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "due_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ProjectColumn": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "project_id": {
            "type": "integer",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "position": {
            "type": "integer",
            "nullable": true
          },
          "wip_limit": {
            "type": "integer",
            "nullable": true
          },
          "is_done_column": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "ProjectLabel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "project_id": {
            "type": "integer",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "color": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ProjectTask": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "project_id": {
            "type": "integer",
            "nullable": true
          },
          "column_id": {
            "type": "integer",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "priority": {
            "type": "string",
            "nullable": true
          },
          "position": {
            "type": "integer",
            "nullable": true
          },
          "estimate_minutes": {
            "type": "integer",
            "nullable": true
          },
          "is_open_for_volunteers": {
            "type": "boolean",
            "nullable": true
          },
          "created_by": {
            "type": "integer",
            "nullable": true
          },
          "assignee_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "label_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "due_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ProjectTaskUpdate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "task_id": {
            "type": "integer",
            "nullable": true
          },
          "author_member_id": {
            "type": "integer",
            "nullable": true
          },
          "body": {
            "type": "string",
            "nullable": true
          },
          "update_type": {
            "type": "string",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "TimeLog": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "task_id": {
            "type": "integer",
            "nullable": true
          },
          "member_id": {
            "type": "integer",
            "nullable": true
          },
          "minutes": {
            "type": "integer",
            "nullable": true
          },
          "note": {
            "type": "string",
            "nullable": true
          },
          "logged_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "FundraisingCampaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "display_name": {
            "type": "string",
            "nullable": true
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "logo": {
            "type": "string",
            "nullable": true
          },
          "allowed_amounts": {
            "nullable": true
          },
          "expected_amount": {
            "type": "number",
            "nullable": true
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "FundraisingPayment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "campaign_id": {
            "type": "integer",
            "nullable": true
          },
          "transaction_id": {
            "type": "integer",
            "nullable": true
          },
          "member_id": {
            "type": "integer",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Gathering": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "timezone": {
            "type": "string",
            "nullable": true
          },
          "venue_name": {
            "type": "string",
            "nullable": true
          },
          "venue_address": {
            "type": "string",
            "nullable": true
          },
          "registration_url": {
            "type": "string",
            "nullable": true
          },
          "capacity": {
            "type": "integer",
            "nullable": true
          },
          "is_free": {
            "type": "boolean",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "image_url": {
            "type": "string",
            "nullable": true
          },
          "start_date_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "end_date_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "TicketClass": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "gathering_id": {
            "type": "integer",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "quantity_total": {
            "type": "integer",
            "nullable": true
          },
          "quantity_sold": {
            "type": "integer",
            "nullable": true
          },
          "is_free": {
            "type": "boolean",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "price": {
            "type": "number",
            "nullable": true
          },
          "sales_start": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "sales_end": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "GatheringAttendee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "gathering_id": {
            "type": "integer",
            "nullable": true
          },
          "gathering_order_id": {
            "type": "integer",
            "nullable": true
          },
          "ticket_class_id": {
            "type": "integer",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "class_of": {
            "type": "string",
            "nullable": true
          },
          "member_id": {
            "type": "integer",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "checked_in": {
            "type": "boolean",
            "nullable": true
          },
          "checked_in_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "GatheringOrder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "gathering_id": {
            "type": "integer",
            "nullable": true
          },
          "buyer_name": {
            "type": "string",
            "nullable": true
          },
          "buyer_email": {
            "type": "string",
            "nullable": true
          },
          "member_id": {
            "type": "integer",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "total_amount": {
            "type": "number",
            "nullable": true
          },
          "order_date": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Election": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "timezone": {
            "type": "string",
            "nullable": true
          },
          "results_visibility": {
            "type": "string",
            "nullable": true
          },
          "results_published": {
            "type": "boolean",
            "nullable": true
          },
          "is_secret_ballot": {
            "type": "boolean",
            "nullable": true
          },
          "theme_color": {
            "type": "string",
            "nullable": true
          },
          "start_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "end_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "launched_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "closed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Candidate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "question_id": {
            "type": "integer",
            "nullable": true
          },
          "member_id": {
            "type": "integer",
            "nullable": true
          },
          "display_name": {
            "type": "string",
            "nullable": true
          },
          "is_write_in": {
            "type": "boolean",
            "nullable": true
          },
          "is_abstain": {
            "type": "boolean",
            "nullable": true
          },
          "order_index": {
            "type": "integer",
            "nullable": true
          }
        }
      },
      "ElectionQuestion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "election_id": {
            "type": "integer",
            "nullable": true
          },
          "order_index": {
            "type": "integer",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "min_selections": {
            "type": "integer",
            "nullable": true
          },
          "max_selections": {
            "type": "integer",
            "nullable": true
          },
          "allow_write_in": {
            "type": "boolean",
            "nullable": true
          },
          "allow_abstain": {
            "type": "boolean",
            "nullable": true
          },
          "candidates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Candidate"
            }
          }
        }
      },
      "ElectionResults": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "turnout": {
            "type": "object"
          }
        }
      },
      "DriveItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "parent_id": {
            "type": "integer",
            "nullable": true
          },
          "is_root": {
            "type": "boolean",
            "nullable": true
          },
          "item_type": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "file_size": {
            "type": "integer",
            "nullable": true
          },
          "content_type": {
            "type": "string",
            "nullable": true
          },
          "content_version": {
            "type": "integer",
            "nullable": true
          },
          "createdby": {
            "type": "integer",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "TaskCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "chapter_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "due_date": {
            "type": "string",
            "format": "date-time"
          },
          "member_id": {
            "type": "integer",
            "description": "Assignee; must be an active member of the chapter"
          },
          "progress": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "default": 0
          }
        }
      },
      "ContactCreate": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "chapter_id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "description": "email or phone is required; email must be unique in the chapter"
          },
          "phone": {
            "type": "string"
          },
          "class_of": {
            "type": "string"
          },
          "group_name": {
            "type": "string"
          }
        }
      },
      "ProjectTaskCreate": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "chapter_id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "column_id": {
            "type": "integer"
          },
          "priority": {
            "type": "string"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "due_date": {
            "type": "string",
            "format": "date-time"
          },
          "estimate_minutes": {
            "type": "integer"
          },
          "assignee_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "label_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "is_open_for_volunteers": {
            "type": "boolean"
          }
        }
      },
      "EventAttendee": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "event_id": {
            "type": "integer",
            "nullable": true
          },
          "member_id": {
            "type": "integer",
            "nullable": true
          },
          "role_id": {
            "type": "integer",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "owner": {
            "type": "boolean",
            "nullable": true
          },
          "did_rsvp": {
            "type": "boolean",
            "nullable": true
          },
          "rsvp_status": {
            "type": "string",
            "nullable": true
          },
          "did_attend": {
            "type": "boolean",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Application": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "member_id": {
            "type": "integer",
            "nullable": true
          },
          "form_template_id": {
            "type": "integer",
            "nullable": true
          },
          "form_template_version": {
            "type": "integer",
            "nullable": true
          },
          "membership_type_id": {
            "type": "integer",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ApplicationDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "member_id": {
            "type": "integer",
            "nullable": true
          },
          "form_template_id": {
            "type": "integer",
            "nullable": true
          },
          "form_template_version": {
            "type": "integer",
            "nullable": true
          },
          "membership_type_id": {
            "type": "integer",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "answers": {
            "nullable": true
          }
        }
      },
      "FormTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "is_default": {
            "type": "boolean",
            "nullable": true
          },
          "is_active": {
            "type": "boolean",
            "nullable": true
          },
          "version": {
            "type": "integer",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "FormTemplateDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "is_default": {
            "type": "boolean",
            "nullable": true
          },
          "is_active": {
            "type": "boolean",
            "nullable": true
          },
          "version": {
            "type": "integer",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "definition": {
            "nullable": true
          }
        }
      },
      "Workflow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "workflow_type": {
            "type": "string",
            "nullable": true
          },
          "require_approval_all_apps": {
            "type": "boolean",
            "nullable": true
          },
          "require_payment_fee_separately": {
            "type": "boolean",
            "nullable": true
          },
          "require_approval_after_payment": {
            "type": "boolean",
            "nullable": true
          },
          "require_confirmation_renewals": {
            "type": "boolean",
            "nullable": true
          },
          "require_approval_renewals": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "PostLikes": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer"
          },
          "member_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "GroupRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "group_id": {
            "type": "integer",
            "nullable": true
          },
          "member_id": {
            "type": "integer",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "requested_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ProjectTaskAttachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "task_id": {
            "type": "integer",
            "nullable": true
          },
          "filename": {
            "type": "string",
            "nullable": true
          },
          "content_type": {
            "type": "string",
            "nullable": true
          },
          "size_bytes": {
            "type": "integer",
            "nullable": true
          },
          "uploaded_by_member_id": {
            "type": "integer",
            "nullable": true
          },
          "uploaded_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ProjectTaskDependencies": {
        "type": "object",
        "properties": {
          "blocked_by": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          },
          "blocks": {
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        }
      },
      "VolunteerRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "task_id": {
            "type": "integer",
            "nullable": true
          },
          "member_id": {
            "type": "integer",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "decided_by_member_id": {
            "type": "integer",
            "nullable": true
          },
          "requested_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "decided_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "FundraisingRecipient": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "campaign_id": {
            "type": "integer",
            "nullable": true
          },
          "member_id": {
            "type": "integer",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "type": "string",
            "nullable": true
          },
          "tribute": {
            "type": "string",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Refund": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "transaction_id": {
            "type": "integer",
            "nullable": true
          },
          "currency": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "amount": {
            "type": "number"
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "MeetingFeedback": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "event_id": {
            "type": "integer",
            "nullable": true
          },
          "participant_kind": {
            "type": "string",
            "nullable": true
          },
          "participant_display_name": {
            "type": "string",
            "nullable": true
          },
          "overall_rating": {
            "type": "integer",
            "nullable": true
          },
          "audio_rating": {
            "type": "integer",
            "nullable": true
          },
          "video_rating": {
            "type": "integer",
            "nullable": true
          },
          "comment": {
            "type": "string",
            "nullable": true
          },
          "submitted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "member_id": {
            "type": "integer",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "is_read": {
            "type": "boolean",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "SupportRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "member_id": {
            "type": "integer",
            "nullable": true
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "subject": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "customer_priority": {
            "type": "string",
            "nullable": true
          },
          "progress": {
            "type": "string",
            "nullable": true
          },
          "assigned_to": {
            "type": "string",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "channels": {
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "scheduled_timezone": {
            "type": "string",
            "nullable": true
          },
          "recurrence_rule": {
            "type": "string",
            "nullable": true
          },
          "parent_campaign_id": {
            "type": "integer",
            "nullable": true
          },
          "stats": {
            "nullable": true
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "sent_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "lastmodifieddate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "insufficient_scope or chapter_forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFound": {
        "description": "not_found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "rate_limited; see Retry-After",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ValidationError": {
        "description": "validation_error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/v1/members": {
      "get": {
        "summary": "List members",
        "x-scope": "members:read",
        "description": "Requires scope `members:read`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Member"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/chapterId"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Matches first name, last name or email."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "inactive"
              ]
            }
          }
        ]
      },
      "post": {
        "summary": "Create member",
        "x-scope": "members:write",
        "description": "Requires scope `members:write`.",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Member"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberCreate"
              }
            }
          }
        }
      }
    },
    "/v1/members/{member_id}": {
      "get": {
        "summary": "Get member",
        "x-scope": "members:read",
        "description": "Requires scope `members:read`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Member"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "member_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/chapterId"
          }
        ]
      },
      "patch": {
        "summary": "Update member",
        "x-scope": "members:write",
        "description": "Requires scope `members:write`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Member"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "member_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/chapterId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemberUpdate"
              }
            }
          }
        }
      }
    },
    "/v1/membership-types": {
      "get": {
        "summary": "List membership types",
        "x-scope": "membership_types:read",
        "description": "Requires scope `membership_types:read`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MembershipType"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/chapterId"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ]
      },
      "post": {
        "summary": "Create membership type",
        "x-scope": "membership_types:write",
        "description": "Requires scope `membership_types:write`.",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipType"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipTypeCreate"
              }
            }
          }
        }
      }
    },
    "/v1/membership-types/{type_id}": {
      "get": {
        "summary": "Get membership type",
        "x-scope": "membership_types:read",
        "description": "Requires scope `membership_types:read`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipType"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "type_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/chapterId"
          }
        ]
      },
      "patch": {
        "summary": "Update membership type",
        "x-scope": "membership_types:write",
        "description": "Requires scope `membership_types:write`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/MembershipType"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "type_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/chapterId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MembershipTypeUpdate"
              }
            }
          }
        }
      }
    },
    "/v1/events": {
      "get": {
        "summary": "List events",
        "x-scope": "events:read",
        "description": "Requires scope `events:read`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/chapterId"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Only events starting at or after this instant."
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Only events starting at or before this instant."
          }
        ]
      },
      "post": {
        "summary": "Create event",
        "x-scope": "events:write",
        "description": "Requires scope `events:write`.",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventCreate"
              }
            }
          }
        }
      }
    },
    "/v1/events/{event_id}": {
      "get": {
        "summary": "Get event",
        "x-scope": "events:read",
        "description": "Requires scope `events:read`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/chapterId"
          }
        ]
      },
      "patch": {
        "summary": "Update event",
        "x-scope": "events:write",
        "description": "Requires scope `events:write`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Event"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/chapterId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EventUpdate"
              }
            }
          }
        }
      }
    },
    "/v1/transactions": {
      "get": {
        "summary": "List transactions",
        "x-scope": "payments:read",
        "description": "Requires scope `payments:read`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transaction"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/chapterId"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "member_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ]
      }
    },
    "/v1/transactions/{transaction_id}": {
      "get": {
        "summary": "Get transaction",
        "x-scope": "payments:read",
        "description": "Requires scope `payments:read`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Transaction"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/chapterId"
          }
        ]
      }
    },
    "/v1/members/{member_id}/dues": {
      "get": {
        "summary": "List a member's dues",
        "x-scope": "payments:read",
        "description": "Requires scope `payments:read`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MemberDue"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "member_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/chapterId"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ]
      }
    },
    "/v1/membership-types/{type_id}/dues": {
      "get": {
        "summary": "List a membership type's fee definitions",
        "x-scope": "membership_types:read",
        "description": "Requires scope `membership_types:read`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MembershipTypeDue"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "type_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/chapterId"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          }
        ]
      }
    },
    "/v1/posts": {
      "get": {
        "summary": "List posts",
        "x-scope": "community:read",
        "description": "Requires scope `community:read`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Post"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/chapterId"
          },
          {
            "$ref": "#/components/parameters/offset"
          },
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ]
      }
    },
    "/v1/posts/{post_id}": {
      "get": {
        "summary": "Get post",
        "x-scope": "community:read",
        "description": "Requires scope `community:read`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Post"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "post_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/chapterId"
          }
        ]
      }
    },
    "/v1/posts/{post_id}/comments": {
      "get": {
        "summary": "List a post's comments",
        "x-scope": "community:read",
        "description": "Requires scope `community:read`.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "success"
                      ]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Comment"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "parameters": [
          {
            "name": "post_id",
[...]
